.container {
  position: fixed;
  top: 6em;
  right: 0;
  background: white;
  transition: all 300ms;
  transform: translateX(100%);
  cursor: default;
  z-index: 2;
  min-width: 16em;
}

.container:hover {
  transform: translateX(0%);
}

.wrapper {
  position: relative;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  border-radius: 1em;
  border: 1px solid gainsboro;
  box-shadow: 0 0 12px gainsboro;
  margin-right: 2em;
}

.wrapper>div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.container:hover .wrapper::before {
  visibility: hidden;
  transition: all 100ms;
}

.wrapper::before {
  visibility: visible;
  content: "<<";
  position: absolute;
  left: 0;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  border: 1px solid gainsboro;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  color: var(--color-accent);
  cursor: pointer;
  background: white;
}

.value {
  color: var(--color-accent);
}